* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "PT Sans", sans-serif;
    background-color: #f9f6ee;
}

.container {
    width: 75%;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.card-container {
    gap: 30px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    font-size: 4em;
}

.sub-title {
    font-size: 1.2em;
    font-style: italic;
    color: crimson;
}

.title-article {
    font-size: 1.4em;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

.card {
    gap: 20px;
    padding: 20px;
    width: 100%;
    max-width: 21rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 4px;
}

img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

button {
    cursor: pointer;
    border: transparent;
    padding: 12px 35px;
    border-radius: 45px;
    background: linear-gradient(90deg, #6616d0,#ac34e7);
    color: #f0f3f5;
    font-size: 1.1em;
    font-weight: bold;
    transition: all .2s ease-out;
    width: 100%;
}

button:hover {
    background: linear-gradient(90deg, #025ce3,#4e94fd);
    transform: scale(.96);
}

.notification {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    display: none;
    justify-content: center;
    align-items: center;
}

.message {
    position: relative;
    height: 30%;
    padding: 20px;
    border-radius: 4px;
    background-color: #f0f3f5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

#close-message {
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
    color: crimson;
    font-size: 2.4em;
}

p#message {
    text-align: center;
    font-size: 2em;
}